<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>

</head>
<body>
<div id="boggle">
    <table class="board">
        <tbody>
            {% for row in board %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <form action="/word_check" class="add-word">
        <input type="text" placeholder="Enter a guess" name="word" class="word">
        <button id="button">Submit</button>
        </form>
</div>

<script src="http://unpkg.com/jquery"></script>
<script src="/static/boggle11.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script>
let game = new BoggleGame("boggle");
</script>

</body>
</html>