<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>

</head>
<body>





<button id="start">Start Game</button>
<div id="boggle">
    <table class="board">
        <tbody>
            {% for row in board %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    <p>
        High Score: <b id="high-score">{{highest_score}}</b>
        Number of Attempts: <b id="attempt">{{attempt}}</b>
        Current Score: <b id="score">0</b>
        Seconds Left: <b id="timer"></b>
    </p>
    </table>
        <form action="/word_check" class="add-word">
        <input type="text" placeholder="Enter a guess" name="word" class="word">
        <button id="button">Submit</button>
        </form>
    <p id="words-found">
    <b>Words Found:</b>
    </p>
</div>

<script src="http://unpkg.com/jquery"></script>
<script src="/static/boggle11.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script>
$("#boggle").hide()
let game = new BoggleGame("boggle")

</script>

</body>
</html>